<div class="jumbotron">
  <h1><i class="fa fa-circle-o-notch"></i> Scheduler</h1>
  <p>This is my smart scheduler. You can make a list of what to do on daily basis.</p>
  <%= link_to "Sign up", new_user_registration_path , class: "btn btn-primary btn-lg" %>
</div>